# ESP-VISION ESP32-C5-DevKitC-1-N8R8 board defaults.

CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="boards/ESP32_C5_DEVKITC_1_N8R8/partitions-8MiB-esp-vision.csv"
