CONFIG_ESP_VISION_CORE_ENABLE_LAB_LUT=n
CONFIG_ESP_VISION_CORE_ENABLE_BLOBS=n
CONFIG_ESP_VISION_CORE_ENABLE_QRCODES=n
CONFIG_ESP_VISION_CORE_ENABLE_APRILTAGS=n
CONFIG_ESP_VISION_CORE_ENABLE_FILTERS=n
